@model GitHub_Users.Models.SearchResults
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="searchResults">
    @Html.LabelFor(m=> m.Login)
    @Html.LabelFor(m => m.Location)

    <img src="@Url.Content(Model.Avatar_Url)" alt="Image" />
    
    
    <!--section for the top 5 repos-->
    @*<ul>
        @for (int i = 0; i < ViewBag.Repos.Count(); i++)
        {
            <li>@ViewBag.Repo</li>
        }
    </ul>*@
</div>